=semantic_form_for @order do |f|
  =f.inputs "Order" do
    =f.input :name
    =f.input :address, :as => :text, :rows => 3, :cols => 40
    =f.input :email, :size => 40
    =f.input :pay_type, :collection => Order::PAYMENT_TYPES, :prompt => 'Select a payment method'
  =f.buttons