.entry
  -if !product.images.any?
    =link_to image_submit_tag(product.images.first.image.url), line_items_path(:product_id => product), :method => :post, :remote => true
  %h3= product.title
  = sanitize product.description
  .price_line
    %span.price= number_to_currency product.price
    =button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true

